# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Dependency directories
/node_modules/
/bower_components/

# Build output
/build/
/dist/
/out/

# Testing
/coverage/
/test-results/

# Miscellaneous system files
.DS_Store
Thumbs.db

# IDE and editor folders/files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Parcel-bundler cache
.cache/

# Next.js build output
.next/

# Storybook build output
.out/

# Misc
.eslintcache
.pnp.*
*.local

# Optional: Ignore documentation dependencies
/docs/node_modules/
